* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 44px;
    width: 100%;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
}

nav {
    flex: none;
    margin: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #f5f5f7;
    align-items: center;
    height: 40px;
    max-width: 100%;
    min-width: 320px;
}

nav ul li {
    display: inline-block;
    margin-right: 40px;
    color: #a7a2a2;
}
.navlogo{
    width: 13px;
height: 16px;
}
.href{
    color: #a7a2a2;
}

.logo {
    padding: 5px 40px 0 165px;
    width: auto;
    height: 48px;
}

.logo img {
    width: 15px;
}

li {
    display: inline-block;
    list-style-type: none;
    font-size: 12px;
    margin-right: 40px;
}

.paradiv {
    width: 100%;
    height: 48px;
    background: #f7f7f7;
    display: grid;
    align-items: center;
    text-align: center;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    display: inline-block;
    padding: 12px 0;
    color: #525252;
}

a {
    color: #06c;
    letter-spacing: inherit;
}

a:link {
    text-decoration: none;
}

.main {
    width: 100%;
}

.hero13pro1 {
    background-image: url(./images/hero_iphone_13pro__dhnsegysa42u_large.jpg);
    width: 100%;
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
}

.unit-copy-wrapper {
    text-align: center;
    padding-top: 47px;
    color: #1d1d1f;
}

.main .unit-copy-wrapper>*.headline {
    font-size: 55px;
    line-height: 1.07143;
    font-weight: 400;
    letter-spacing: -.005em;
    font-family: 'Roboto', sans-serif;
}

.main .unit-copy-wrapper>*.subhead {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: 'Lato', sans-serif;
    margin-top: 6px;
}

.main .unit-copy-wrapper>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.main .unit-copy-wrapper>*.cta-links a:not(:only-child):first-child {
    margin-left: -4px;
}

.main .unit-copy-wrapper>*.cta-links a:not(:only-child):not(:first-child) {
    margin-left: 35px;
}

.main .unit-copy-wrapper>*.cta-links {
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0.65em;
}

.main .unit-copy-wrapper>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.hero13pro {
    background-image: url(./images/hero_iphone_13__f194u1rdooeq_large2.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
}

.main2 .unit-copy-wrapper2 .hero13pro>*.headline {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.main2 .unit-copy-wrapper2 .hero13pro>*.subhead {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: 'Roboto', sans-serif;
    margin-top: 6px;
    color: #fec2eb;
}

.main2 .unit-copy-wrapper2 .hero13pro>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.main2 .unit-copy-wrapper2 .hero13pro>*.cta-links a:not(:only-child):first-child {
    margin-left: -4px;
}

.main2 .unit-copy-wrapper2 .hero13pro>*.cta-links a:not(:only-child):not(:first-child) {
    margin-left: 35px;
}

.main2 .unit-copy-wrapper2 .hero13pro>*.cta-links {
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0.65em;
}

.main2 .unit-copy-wrapper2 .hero13pro>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.unit-copy-wrapper2 {
    text-align: center;
    padding-top: 47px;
    background-color: rgb(53 40 60);
}

.main3 .unit-copy-wrapper3>*.headline {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: 'Lato', sans-serif;
    color: #602d62;
}

.main3 .unit-copy-wrapper3>*.subhead {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: 'Roboto', sans-serif;
    margin-top: 6px;
    color: #602d62;
}

.main3 .unit-copy-wrapper3>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.main3 .unit-copy-wrapper3>*.cta-links a:not(:only-child):first-child {
    margin-left: -4px;
}

.main3 .unit-copy-wrapper3>*.cta-links a:not(:only-child):not(:first-child) {
    margin-left: 35px;
}

.main3 .unit-copy-wrapper3>*.cta-links {
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0.65em;
}

.main3 .unit-copy-wrapper3>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.unit-copy-wrapper3 {
    text-align: center;
    padding-top: 47px;
    background-color: rgb(248 241 248);
}

.herodiv {
    background-image: url(./images/hero_vday22__bt5gpd2vjafm_large.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
}

.tilewatch {
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-image: url(./images/tile_watch__e9n11b6m6yq2_large.jpg);
    background-position: center center;
}

.tilesoip {
    width: 100%;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url(./images/tile_soip__f0c6lef982em_large.jpg);
    background-position: center center;
}

.main4 {
    display: flex;
}

.main4 .unit-copy-wrapper4>*.headline {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: 'Lato', sans-serif;
    color: #602d62;
}

.main4 .unit-copy-wrapper4 .subhead {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-top: 4px;
    color: #1d1d1f;
}

.main4 .unit-copy-wrapper4>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.main4 .unit-copy-wrapper4>*.cta-links a:not(:only-child):first-child {
    margin-left: -4px;
}

.main4 .unit-copy-wrapper4>*.cta-links a:not(:only-child):not(:first-child) {
    margin-left: 35px;
}

.main4 .unit-copy-wrapper4 .cta-links {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    margin-top: 0.7em;
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.main4 .unit-copy-wrapper4>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.unit-copy-wrapper4 {
    text-align: center;
    padding-top: 47px;
    background-color: rgb(248 241 248);
}

.main4 .violator-frameless.violator-frameless-reduced {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    display: block;
    color: #bf4800;
}

.main4 .unit-copy-wrapper5 .headline {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    color: #1d1d1f;
}

.main4 .unit-copy-wrapper5>*.subhead {
    font-size: 21px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-top: 6px;
    color: #1d1d1f;
}

.main4 .unit-copy-wrapper5>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.main4 .unit-copy-wrapper5>*.cta-links a:not(:only-child):first-child {
    margin-left: -4px;
}

.main4 .unit-copy-wrapper5>*.cta-links a:not(:only-child):not(:first-child) {
    margin-left: 35px;
}

.main4 .unit-copy-wrapper5>*.cta-links {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    margin-top: 0.7em;
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.main4 .unit-copy-wrapper5>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.unit-copy-wrapper5 {
    text-align: center;
    padding-top: 47px;
}

.promowatch {
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-image: url(./images/promo_watch__fo7j0tnywi2q_large.jpg);
    background-position: center center;
}

.promowatchheart {
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-image: url(./images/promo_watch_heart__dlf8uc5h0kae_large.jpg);
    background-position: center center;
}

.unit-copy-wrapper6 {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    z-index: 4;
    pointer-events: none;
    margin-top: var(--global-nav-collective-height);
    margin-top: 45px;
}

.main4 .unit-copy-wrapper6 .violator-frameless {
    text-align: center;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 10px;
    color: #bf4800;
}

.main4 .unit-copy-wrapper6 .headline {
    margin-top: 0;
}

.main4 .unit-copy-wrapper6 .headline {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #1d1d1f;
}

.main4 .unit-copy-wrapper6 .headline,
.main4 .unit-copy-wrapper6 .subhead,
.main4 .unit-copy-wrapper6 .cta {
    width: 88%;
    max-width: 465px;
}

.unit-copy-wrapper6 .headline,
.unit-copy-wrapper6 .subhead,
.unit-copy-wrapper6 .cta {
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.main4 .unit-copy-wrapper6 .subhead {
    margin-top: 2px;
    max-width: 420px;
}

.main4 .unit-copy-wrapper6 .subhead {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-top: 4px;
    color: #1d1d1f;
}

sup {
    top: -0.5em;
}

sup,
sub {
    font-size: 0.6em;
    vertical-align: baseline;
}

.main4 .unit-copy-wrapper6 .cta-links {
    margin-top: 4px;
}

.main4 .unit-copy-wrapper6 .cta-links {
    z-index: 4;
    text-decoration: none;
}

.main4 .unit-copy-wrapper6 .cta-links,
.main4 .unit-copy-wrapper6 .cta {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 10px;
    text-align: center;
}

.unit-copy-wrapper7 {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    z-index: 0;
    pointer-events: none;
    margin-top: var(--global-nav-collective-height);
    color: white;
}

.main4 .unit-copy-wrapper7 .violator-frameless {
    text-align: center;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 10px;
}

.main4 .unit-copy-wrapper7 .headline {
    margin-top: 0;
}

.main4 .unit-copy-wrapper7 .headline {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.main4 .unit-copy-wrapper7 .headline,
.main4 .unit-copy-wrapper7 .subhead,
.main4 .unit-copy-wrapper7 .cta {
    width: 88%;
    max-width: 430px;
}

.unit-copy-wrapper7 .headline,
.unit-copy-wrapper7 .subhead,
.unit-copy-wrapper7 .cta {
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.main4 .unit-copy-wrapper7 .subhead {
    margin-top: 2px;
    max-width: 395px;
}

.main4 .unit-copy-wrapper7 .subhead {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-top: 4px;
}

sup {
    top: -0.5em;
}

sup,
sub {
    font-size: 0.6em;
    vertical-align: baseline;
}

.main4 .unit-copy-wrapper7 .cta-links {
    margin-top: 4px;
}

.main4 .unit-copy-wrapper7 .cta-links {
    z-index: 4;
    text-decoration: none;
}

.main4 .unit-copy-wrapper7 .cta-links,
.main4 .unit-copy-wrapper7 .cta {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0.7em;
    text-align: center;
}

.unit-copy-wrapper7 {
    margin-top: 60px;
}

.tile_airpods {
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-image: url(./images/tile_airpods__fuv6vgn42y2q_large.jpg);
    background-position: center center;
}

.tile__cauwwcyyn9hy {
    width: 100%;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url(./images/tile__cauwwcyyn9hy_large.jpg);
    background-position: center center;
}

.main {
    display: flex;
}

.main .unit-copy-wrapper8>*.headline {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: 'Lato', sans-serif;
    color: #602d62;
}

.main .unit-copy-wrapper8 .subhead {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-top: 4px;
    color: #1d1d1f;
    max-width: 325px;
    text-align: center;
    display: block;
    margin: auto;
}

.main .unit-copy-wrapper8>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.main .unit-copy-wrapper8>*.cta-links a:not(:only-child):first-child {
    margin-left: -4px;
}

.main .unit-copy-wrapper8>*.cta-links a:not(:only-child):not(:first-child) {
    margin-left: 35px;
}

.main .unit-copy-wrapper8 .cta-links {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    margin-top: 0.7em;
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.main .unit-copy-wrapper8>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.unit-copy-wrapper8 {
    text-align: center;
    padding-top: 47px;
}

.main .unit-copy-wrapper9 .headlinediv>*.headline {
    font-size: 40px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: 'Lato', sans-serif;
    color: #1d1d1f;
}

.main .unit-copy-wrapper9 .headlinediv>*.subhead {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-top: 4px;
    color: #1d1d1f;
    max-width: 325px;
    text-align: center;
    display: block;
    margin: auto;
}

.main .unit-copy-wrapper9 .headlinediv>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.main .unit-copy-wrapper9 .headlinediv>*.cta-links a:not(:only-child):first-child {
    margin-left: -4px;
}

.main .unit-copy-wrapper9 .headlinediv>*.cta-links a:not(:only-child):not(:first-child) {
    margin-left: 35px;
}

.main .unit-copy-wrapper9 .headlinediv .cta-links {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    margin-top: 0.7em;
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.main .unit-copy-wrapper9 .headlinediv>*.cta-links {
    position: revert;
    z-index: 4;
    text-decoration: none;
}

.unit-copy-wrapper9 {
    text-align: center;
    position: relative;
    width: 100%;
    height: 628px;
}

.headlinediv {
    position: absolute;
    bottom: 70px;
    width: 100%;
}

.bottom_div {
    background-color: #f5f5f7;
    width: 100%;
}

.para_div {
    text-align: left;
    padding: 17px 22px;
    display: grid;
    max-width: 980px;
    margin: 0 auto;
    border-bottom: 1px solid #bdc3c7;
}

.para_div li {
    padding-bottom: 0.8em;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 450;
    letter-spacing: -.01em;
    font-family: 'Roboto';
    color: #6e6e73;
}


/* .li_bottom_div li {
    background-color: #f5f5f7;
    width: 100%;
    text-align: left;
    padding: 5px 40px;
    display: grid;
    max-width: 980px;
    margin: 0 auto
} */


/*--- footer ---*/

footer {
    width: 100%;
    height: auto;
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main {
    width: 980px;
    padding: 0 0 20px 22px;
    font-family: 'Roboto';
}

.footer-ul {
    display: flex;
    justify-content: space-between;
}

.footer-ul ul {
    list-style: none;
    display: grid;
    height: fit-content;
}

.footer-ul ul li {
    margin: 7px 0;
}

.footer-ul ul li h4 {
    color: #34495e;
    font-size: .7rem;
}

.footer-ul ul li a {
    color: #7f8c8d;
    font-size: .7rem;
}

.footer-ul ul li a:hover {
    text-decoration: underline;
}

#mt {
    padding-top: 30px;
}

.footer-contact {
    border-bottom: 1px solid #bdc3c7;
    padding: 12px 0;
    margin: 10px 0;
    color: #7f8c8d;
    font-size: .7rem;
}

.footer-contact a {
    color: #3498db;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: #7f8c8d;
    font-size: .7rem;
    display: flex;
    justify-content: space-between;
}

.footer-copyright ul {
    display: flex;
    list-style: none;
    width: auto;
}

.footer-copyright ul li {
    margin: 0 10px;
}

.footer-copyright ul li a {
    color: #7f8c8d;
}

.footer-copyright ul li a:hover {
    text-decoration: underline;
}

.vr {
    height: 15px;
    width: 1px;
    background: #bdc3c7;
}

.footer-lang {
    display: flex;
}

.footer-lang p {
    margin: 0 10px;
}

.circle {
    width: 15px;
    height: 15px;
}

.circle img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
}
.unit-copy-wrapper .subhead {
    animation-duration: 6s;
    animation-name: h3slidein;
    animation-iteration-count:inherit ;
    overflow: hidden;
}

@keyframes h3slidein {
  0% {
    margin-right: 200px;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 0%;
  }
}
.unit-copy-wrapper .headline {
    animation-duration: 6s;
    animation-name: h2slidein;
    animation-iteration-count:inherit ;
    overflow: hidden;
}

@keyframes h2slidein {
  0% {
    margin-left: 100px;
  }
  50% {
    margin-left: 0%;
  }
  100% {
    margin-left: 0%;
  }
}